﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Ga.aspx.cs" Inherits="WebApplication2.Ga" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Button ID="ButtonImportData" runat="server" OnClick="ButtonImportData_Click" Text="Button" />
    
    </div>
        <asp:ListView ID="ListViewResult" runat="server">
        </asp:ListView>
    </form>
</body>
</html>
